* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bg-top {
    flex: 0.5;
    background-color: #5BB2CE;
}

.bg-down {
    flex: 0.5;
    background-color: #663A31;
}

.field {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-size: contain;
    background-repeat-x: repeat;
}

.field-ground {
    background-image: url("img/bg-ground.png");
}
.field-air {
    background-image: url("img/bg-air.png");
}

@keyframes slideBackground {
    0% {background-position: 0 0;}
    100% {background-position: -12000px 0;}
}

.level {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 90px;
    margin-left: 0;
    background-color: transparent;
}

.barrier {
    background-image: url("img/barrier.png");
    background-size: 100% 105%;
}

.empty {
    background-color: transparent;
}

.finish {
    background-image: url("img/finish.png");
    background-size: 100% 130%;
    background-repeat: no-repeat;
}

.player {
    background-color: #bbb;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-size: cover;
}
